main {
  height: 100%;
  background-color: #282c34;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MainContainer {
  max-width: 1500px;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.Header {
  padding: 15px 15px 0 15px;
  flex: none;
}

h1 {
  margin-top: 0;
}

.Footer {
  padding: 30px 15px 15px 15px;
  flex: none;
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
}

.Footer select {
  width: 60px;
}

.Footer option {
  font-size: x-large;
}

.Footer button {
  font-size: x-large;
}
